body{
	color: black:
}

.navbar-nav{
    
	font-size: .8rem;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	float: right;
	
}
.nav-item{
	padding: 22px;
}
.carousel-caption{
	margin-bottom:420px;
	color: #FFD700;

}
.col-sm-4{
	padding-top: 60px;
	padding-left: 50px;
	color: #808080;
	font-weight: bold;
	
}

.col-sm-4 h5{
	font-family: Arial Black;
	font-size: 18px;
}
.col-sm-4 select{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #999999;
	width: auto;
	border: 2px solid #808080; 
}
* {
  box-sizing: border-box;
  
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
 
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 568px) {
  .column {
    width: 90%;
  }
}
.col-sm-3 {
	margin-top: 30px;
    
}
.side img{
	
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 130px;
  height: 270px;
  margin-top: 50px;
  
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-top: 40px;
  font-size: 14px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
}

.pagination a.active {

  color: white;
  border: 1px solid #4CAF50;
}



.pagination a.active {
  border: 1px solid #90EE90;
  color: black;
  border-radius: 20px;
}

.pagination a:hover:not(.active) {
   border: 1px solid #90EE90;
  border-radius: 20px;
}
center{
	font-weight: normal;
	font-size: 22px;
	font-family: Times New Roman, Times, serif;
	letter-spacing:1px;
	text-decoration: underline;
	font-variant: small-caps;
	color: #008000;
}
.footer {
  position: absolute;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  width: 100%;
 	color: #C0C0C0;
	font-weight: bold;
}
.col-sm-3 p{
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}



.colum {
  float: left;
  width: 33.33%;
 
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.colum {
  flex: 33.33%;
  padding: 3px;
}
@media screen and (max-width: 500px) {
  .colum {
    width: 100%;
  }
}
.colum img{
	width: 50%;
	height: 70%;
	margin-top: 20px;
	border-style: dotted;
	border-color: #008000;
	
}
.left {
  width: 50%;
  text-align: center;

}

.right {
  width: 50%;
}
.left a{
	text-decoration: none;
}
.right a{
	text-decoration: none;
}
.right a{
	color: #C0C0C0;
	font-weight: bold;
}
.left a{
	color: #C0C0C0;
	font-weight: bold;
}
.icon{
	text-align: center;
	letter-spacing: 6px;
}
.social {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
    color: #C0C0C0;
}


